
h1, p {
    font-family: Lato;
  }


  .chat-boxes-container{
      border:1px solid black;
  }
  
  .chat-boxes-container .robotalks{
    width: 40%;
  }
  
  .chat-boxes-container .home-button{
   background-color:  rgb(218, 5, 5); 
   border: 0;
   border-radius: 9999999px;
   width:  30px;
   height: 30px;
   position: absolute;
   bottom: 10px;
   left:calc(50% - 15px);
  } 